<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Receipt PDF</title>
</head>
<body>
  <h1>Receipt</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</body>
</html>
