<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PDF Layout</title>
    <style>
      body { font-family: "THSarabun", sans-serif; font-size: 14px; }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
